<%- include('../partials/head') %>
    </head>
    <body class="font-sans">
        <%- include('../partials/header') %>
        <main class="bg-black/98 min-h-screen pt-18 font-bold relative">
            <div 
                class="fixed inset-0 h-full w-full 
                    bg-[linear-gradient(to_right,#ffffff0f_1px,transparent_1px),linear-gradient(to_bottom,#ffffff0f_1px,transparent_1px)] 
                    bg-[size:24px_24px] pointer-events-none z-0"
            ></div>
            <div class="relative z-10">
                <div class="text-white mt-5 mx-5 p-2 text-2xl">
                    <h2>Registered Homes List</h2>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-20 p-5">
                    <% registeredHomes.forEach(home => { %>
                        <div class="w-full bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-zinc-950 dark:border-gray-500/50 transition-shadow hover:shadow-fuchsia-800 duration-200">
                            <img class="p-8 rounded-t-lg w-full h-64 object-cover" src="<%= home.photo %>" alt="House Image"/>
                            <div class="px-5 pb-5 text-center">
                                <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"><%= home.houseName %></h5>
                                <p class="text-sm text-gray-500 dark:text-gray-400"><%= home.location %></p>
                                <div class="flex w-full justify-center items-center mt-2.5 mb-5">
                                    <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                    </svg>
                                    <span class="ml-2 text-gray-900 dark:text-white"><%= home.rating %></span>
                                </div>
                                <div class="flex w-full items-center justify-center">
                                    <span class="text-xl font-bold text-gray-900 dark:text-white">₹ <%= home.price %>/Night</span>
                                </div>
                                <div class="flex justify-between mt-8 mx-5">
                                    <a class="border border-gray-600 shadow hover:shadow-gray-500 text-black px-4 py-2 rounded-4xl hover:cursor-pointer transition-all" href="/homes/<%= home._id %>">Details</a>
                                    <%- include('../partials/favourite', {home: home}) %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>

        </main>
    </body>
</html>